@charset "UTF-8";
#body {
  background-color: #1A1A1A;
  display: inline-block;
  padding-left: 20px; }

h1 {
  font-family: 'Roboto';
  color: #6606E1; }

h2 {
  color: #FFFFFF; }

h3 {
  color: #FFFFFF; }

h4 {
  color: #FFFFFF; }

h5 {
  color: #FFFFFF; }

#menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 11pt; }

#menu ul li {
  background-color: #666; }

#menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 0.75em; }

#menu ul li a:hover {
  background: #000;
  border-left: 10px solid #333;
  color: #fff; }

.popular {
  display: flex;
  padding-bottom: 30px; }

/* .description{
    padding-left: 40px;
} */
.palabras {
  padding-left: 40px;
  padding-top: 50px; }

.img {
  width: 150px;
  height: 250px; }

/* .linea{
    position: absolute;
    width: 807px;
    height: 0px;

    border: 1px solid #6606E1;
    transform: rotate(0.15deg);
} */
/* -----------contacto---------------- */
.NameContact {
  color: #FFFFFF;
  padding: 5px; }

.LastNameContact {
  color: #FFFFFF;
  padding: 5px; }

.Phone {
  color: #FFFFFF;
  padding: 5px; }

.boton {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white; }

.botonboton {
  background-color: #6606E1;
  text-align: center;
  border-radius: 200px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white; }

.TotalContacto {
  text-align: center; }

/* -----------------sesion--------------- */
.email {
  color: #FFFFFF;
  padding: 5px; }

.pass {
  color: #FFFFFF;
  padding: 5px; }

.boton {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white; }

.botonboton {
  background-color: #6606E1;
  text-align: center;
  border-radius: 200px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white; }

.SesionTotal {
  text-align: end;
  margin-top: 10%; }

/* --------------------redes--------------------- */
.redesTotal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 190px;
  padding-left: 180px; }

.fb {
  width: 100px;
  height: 100px;
  padding-left: 25px;
  padding-right: 25px; }

.tw {
  width: 100px;
  height: 100px;
  padding-left: 25px;
  padding-right: 25px; }

.ig {
  width: 100px;
  height: 100px;
  padding-left: 25px;
  padding-right: 25px; }

/* -------------------reseñas--------------- */
.img {
  width: 150px;
  height: 250px; }

/* .cartelera{
    width: 220px;
    height: 332px;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    
    margin: 10px;
    text-align: center;
} */
.cartTotal {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 17px;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch; }

.gridt1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 50px;
  margin-left: 50px; }

.cartelera {
  border-color: #6606E1;
  width: 220px;
  height: 332px;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  margin: 10px;
  text-align: center; }

.img {
  width: 100px;
  height: 250px; }

.fb {
  width: 100px;
  height: 100px; }
