@charset "UTF-8";
#body {
  background-color: #1A1A1A;
  display: inline-block;
  /* padding-left: 20px; */
  width: 100%;
  /* max-width: 850px; */
  margin: 0 auto; }

.container {
  width: 100%;
  max-width: 850px;
  margin: 0 auto; }

h1 {
  font-family: 'Roboto';
  color: #6606E1; }

h2 {
  color: #FFFFFF; }

h3 {
  color: #FFFFFF; }

h4 {
  color: #FFFFFF; }

h5 {
  color: #FFFFFF; }

#menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 11pt; }

#menu ul li {
  background-color: #666; }

#menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 0.75em; }

#menu ul li a:hover {
  background: #000;
  border-left: 10px solid #333;
  color: #fff; }

.popular {
  display: flex;
  padding-bottom: 30px; }

/* .description{
    padding-left: 40px;
} */
.palabras {
  padding-left: 40px;
  padding-top: 50px; }

.img {
  width: 151px;
  height: 250px; }

/* .linea{
    position: absolute;
    width: 807px;
    height: 0px;

    border: 1px solid #6606E1;
    transform: rotate(0.15deg);
} */
/* -----------contacto---------------- */
.NameContact {
  color: #FFFFFF;
  padding: 5px; }

.LastNameContact {
  color: #FFFFFF;
  padding: 5px; }

.Phone {
  color: #FFFFFF;
  padding: 5px; }

.boton {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white; }

.botonboton {
  background-color: #6606E1;
  text-align: center;
  border-radius: 200px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white; }

.botonboton a {
  color: whitesmoke;
  text-decoration: none; }

.TotalContacto {
  text-align: center;
  padding-left: 30px;
  padding-top: 8rem; }

/* -----------------sesion--------------- */
.email {
  color: #FFFFFF;
  padding: 5px; }

.pass {
  color: #FFFFFF;
  padding: 5px;
  padding-right: 29px; }

.boton {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white; }

.botonboton {
  background-color: #6606E1;
  text-align: center;
  border-radius: 200px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white; }

.SesionTotal {
  text-align: center;
  margin-top: 10%;
  padding-left: 30px;
  padding-top: 8rem; }

/* --------------------redes--------------------- */
.redesTotal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 190px;
  padding-left: 180px; }

.fb {
  width: 100px;
  height: 100px;
  padding-left: 25px;
  padding-right: 25px; }

.tw {
  width: 100px;
  height: 100px;
  padding-left: 25px;
  padding-right: 25px; }

.ig {
  width: 100px;
  height: 100px;
  padding-left: 25px;
  padding-right: 25px; }

/* -------------------reseñas--------------- */
.img {
  width: 150px;
  height: 250px; }

/* .cartelera{
    width: 220px;
    height: 332px;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    
    margin: 10px;
    text-align: center;
} */
.cartTotal {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 17px;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  padding-left: 30px;
  padding-top: 8rem; }

.gridt1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 50px;
  margin-left: 50px;
  padding-left: 30px;
  padding-top: 8rem; }

.cartelera {
  border-color: #6606E1;
  width: 220px;
  height: 332px;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  margin: 10px;
  text-align: center; }

.img {
  width: 100px;
  height: 250px; }

.fb {
  width: 100px;
  height: 100px; }

.header {
  background: #333;
  /* color: whitesmoke; */
  padding: 2rem 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; }

.header a {
  /* color: whitesmoke; */
  text-decoration: none; }

.logo-nav-container {
  display: flex;
  justify-content: space-between; }

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.navigation ul li {
  display: inline-block; }

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  color: whitesmoke; }

.navigation ul li a:hover {
  background: #6606E1; }

.logo {
  color: #6606E1;
  font-size: 1.2em;
  padding-top: 7px;
  padding-right: 12px; }

.footer {
  background: #666;
  padding: 2rem 0;
  text-align: center;
  margin-top: 6rem;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0; }

.headerBarra {
  width: 30%;
  height: 35px;
  border-radius: 10px;
  min-width: 20%; }

.contenido {
  padding-left: 30px;
  padding-top: 8rem; }

.contGracias {
  padding-left: 30px;
  padding-top: 8rem; }
